/* detail.css */


.detailContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #716d7c;
	border-radius: 30px;
	padding: 30px;
	width: 900px;
	align-items: center;
	margin: 3rem auto;
}

.detailName {
	font-size: 2rem;
}

.detailImage {
	margin: auto;
	width: 100px;
	height: fit-content;
}

.detailTemperamentsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.detailTemperamentsContainer h3 {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

.heightAndWeightAndSpan {
	display: flex;
	align-items: center;
	line-height: 1.5em;
}

.heightAndWeightAndSpan h3 {
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

.heightAndWeightAndSpan h4 {
	margin: 0 5px;
	padding: 0;
}




/* 
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.content {
  display: flex;
  align-items: center;
}

.imageContainer {
  flex: 1;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.text {
  flex: 1;
  padding-left: 16px;
}

h1 {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
}

h2 {
  margin-bottom: 4px;
  font-size: 18px;
}

p {
  margin-bottom: 2px;
  font-size: 16px;
} */
