/* ... Otros estilos ... */

.App {
  background-image: url("../../../public/fondo.jpg");
    background-size: cover; /* Redimensiona la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App h1 {
  font-size: 2rem;
}

.App form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #3b22dc;
  border-radius: 5px;
  margin-top: 20px;
}

.App label {
  font-weight: bold;
}

.App input,
.App select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.App .error {
  color: rgb(24, 58, 225);
  font-weight: bold;
  margin-top: 5px;
}

.App button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.App button:hover {
  background-color: #0056b3;
}

.App select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.link {
	color: #007bff;
	text-decoration: none;
	margin-right: 10px;
	font-weight: bold;
  }
  
  .link:hover {
	color: #0056b3;
	text-decoration: underline;
  }
  






/* .App {
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
   */