
  
  .home-title {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 76px;
    color: #1f0de1;
    font-family: "Bigelow Rules";
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-cursor {
    cursor:url("../../../public/huelladog.png")
    auto;
  }
  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  /* home.css */
/* ... tus estilos existentes ... */

.pagination {
  display: inline-block;
  margin-top: 20px;
}

.pagination a {
  color: rgb(92, 13, 228);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #e10f0f;
}

.pagination span {
  color: rgb(14, 12, 12);
  float: left;
  padding: 8px 16px;
}

  