.contenedor{
    background-image: url("../../../public/ofe.png");
    background-size: cover; /* Redimensiona la imagen para cubrir el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .background-image h1 {
    color: white;
    font-size: 2rem;
  }


.link {
	color: #007bff;
	text-decoration: none;
	margin-right: 10px;
	font-weight: bold;
  }
  
  .link:hover {
	color: #0056b3;
	text-decoration: underline;
  }