.contenedor {
  display: flex;
}

.background-image {
  flex: 1;
  background-image: url('ultima.png'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.content-section {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-button-image {
  width: 140px; /* Ajusta el ancho de la imagen según tus preferencias */
  height: 140px; /* Ajusta la altura de la imagen según tus preferencias */
}



